.navbar {
  margin-bottom: 40px;
  border-radius: 0;
}

.container {
  margin-bottom: 5%;
}

.btn-warning {
  margin-left: 0.5%;
}

/* Remove the jumbotron's default bottom margin */
.form-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.panel-body {
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
}

.btn-add-publisher {
  color: cornflowerblue;
  margin-left: 2%;
}

.btn-author {
  color: cornflowerblue;
  float: right;
  margin: 0.5%;
  position: relative;
}


.panel-heading {
  padding-bottom: 12%;
}
